.card_container {
  position: relative;
  padding: 16px 32px;
  margin-left: 32px;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card {
  display: flex;
  justify-content: space-between;
}

.card__close {
  transform: translate(16px, -8px);
}
